{
	auto_https off
}

:8081 {
	@builder_api path /api/*
	reverse_proxy @builder_api builder-backend-vps:8000 {
		header_up X-Authenticated-User local-test
	}

	reverse_proxy builder-frontend:3000
}

:8082 {
	@backtest_api path /api/*
	reverse_proxy @backtest_api backtest-backend:8002 {
		header_up X-Authenticated-User local-test
	}

	reverse_proxy backtest-frontend:3001
}

:8083 {
	@builder_api path /api/*
	reverse_proxy @builder_api builder-backend-prod:8000 {
		header_up X-Authenticated-User local-test
	}

	reverse_proxy builder-frontend:3000
}
